*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: auto;
}

body {
  background-color: $color-bc;
}

// lists
ul,
ol {
  list-style: none;
}

// inputs
input[type="number"],
input[type="date"],
input[type="text"],
select {
  width: 100%;
  padding: 0.25em;
  background-color: #fff;
  border: 01px solid $color-gray;
  cursor: pointer;
}

// classes
.container {
  @include mobile {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
