header {
  padding: 01em 8.66%;
  h1 {
    display: block;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid $color-gray;
    color: $color-primary;
    text-align: center;
  }
}
