.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: clamp(400px, 50vw, 50rem);
  padding: 2em;
  background-color: $color-bc;
  box-shadow: $box-shadow;

  &__title {
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $color-gray;
    text-align: center;
  }

  .button-close {
    display: block;
    margin-left: auto;
    color: $color-gray;
    cursor: pointer;
    transition: all 0.5s ease;  

    &:hover,
    &:focus {
      // background-color: $color-error;
      color: $color-error;
    }
  }

  .button-close::before {
    @include icons;
    content: "\f057";
    padding: 0;
  }
}

.form__container {
  .row {
    width: 100%;
    margin-bottom: 1em;  
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .radio-group__container {
    width: 45%;
  }

  
  .buttons__container {
    display: flex;
    justify-content: space-between;

    button {
      @include buttons;
    }

    .button-clear {
      background-color: transparent;
      color: $color-error;
      border: 1px solid $color-error;

      &:hover,
      &:focus {
        color: darken($color-error, 15%);
        border-color: darken($color-error, 15%);
      }
    }

    .button-save {
      background-color: $color-primary;
      color: $color-bc;
      border: 1px solid $color-primary;

      &:hover,
      &:focus {
        background-color: darken($color-primary, 15%);
      }
    }
  }
}
