// global styles for section
section {
  margin-bottom: 1em;
  padding: 0 8.66%;

  .section__title {
    display: block;
    margin: 0.5em 0;
    padding-left: 0.5em;
    background-color: $color-primary;
    color: $color-bc;

    &::before {
      @include icons;
      color: inherit;
      font-size: inherit;
    }
  }
}

// cashflow control cards
.cashflow {
  .section__title::before {
    content: "\f53d";
  }

  .primary {
    background-color: $color-primary;
    h3 {
      color: $color-bc;
    }
  }
}

// transactions list
.transactions {
  .section__title::before {
    content: "\f362";
  }

  .button-add {
    @include buttons;
    width: auto;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    background-color: transparent;
    border: 1px solid $color-gray;
    cursor: pointer;

    &::before {
      @include icons;
      content: "\f055";
      font-size: inherit;
    }

    &:focus,
    &:hover {
      border-color: $color-primary;
      color: $color-primary;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 1em;
    margin-bottom: 0.5em;
    background-color: #fff;
    transition: all 0.5s ease;

    .expense-value {
      color: $color-error;
    }

    .income-value{
      color: $color-text;
    }

    p {
      width: calc(100% / 3);
      display: block;
      padding-left: 0.5em;
    }
  }

  &__container:first-child:hover, &__container:first-child:focus {
    cursor: pointer;
    box-shadow: $box-shadow;
    transform: scale(1.01);
  }

  .button-delete {
    @include buttons;
    width: auto;
    padding: 0.25em 0.75em;
    background-color: transparent;
    border: 2px solid $color-error;
    border-radius: 100%;
    color: $color-error;
    cursor: pointer;
    font-weight: bold;

    &:hover,
    &:focus {
      background-color: $color-error;
      color: $color-bc;
    }
  }
}
