/* source: https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&family=Roboto&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed 
Ps.: for this, the ul/ol has to be set as <ul role="list"> or <ol role="list"> - this is part of 
*/
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* font is a shorthand for the properies: font-family, font-weight, font-strech, font-variant, font-size */
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: auto;
}

body {
  background-color: #f5f6fa;
}

ul,
ol {
  list-style: none;
}

input[type="number"],
input[type="date"],
input[type="text"],
select {
  width: 100%;
  padding: 0.25em;
  background-color: #fff;
  border: 1px solid #bdc3c7;
  cursor: pointer;
}

@media (min-width: 600px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

h1 {
  font-size: clamp(2.4rem, 3.1vw, 3.1rem);
}

h2 {
  font-size: clamp(2rem, 2.4vw, 2.4rem);
}

h1,
h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: clamp(1.4rem, 1.6vw, 1.6rem);
  font-weight: 300;
}

p,
button,
input,
span, label {
  color: #282828;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: clamp(1.4rem, 1.6vw, 1.6rem);
}

header {
  padding: 01em 8.66%;
}

header h1 {
  display: block;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #bdc3c7;
  color: #1289A7;
  text-align: center;
}

section {
  margin-bottom: 1em;
  padding: 0 8.66%;
}

section .section__title {
  display: block;
  margin: 0.5em 0;
  padding-left: 0.5em;
  background-color: #1289A7;
  color: #f5f6fa;
}

section .section__title::before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: inherit;
  font-size: inherit;
}

.cashflow .section__title::before {
  content: "\f53d";
}

.cashflow .primary {
  background-color: #1289A7;
}

.cashflow .primary h3 {
  color: #f5f6fa;
}

.transactions .section__title::before {
  content: "\f362";
}

.transactions .button-add {
  width: 48%;
  padding: 0.5em 1em;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: auto;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  background-color: transparent;
  border: 1px solid #bdc3c7;
  cursor: pointer;
}

.transactions .button-add::before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f055";
  font-size: inherit;
}

.transactions .button-add:focus, .transactions .button-add:hover {
  border-color: #1289A7;
  color: #1289A7;
}

.transactions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  margin-bottom: 0.5em;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.transactions__container .expense-value {
  color: #e84118;
}

.transactions__container .income-value {
  color: #282828;
}

.transactions__container p {
  width: calc(100% / 3);
  display: block;
  padding-left: 0.5em;
}

.transactions__container:first-child:hover, .transactions__container:first-child:focus {
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.transactions .button-delete {
  width: 48%;
  padding: 0.5em 1em;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: auto;
  padding: 0.25em 0.75em;
  background-color: transparent;
  border: 2px solid #e84118;
  border-radius: 100%;
  color: #e84118;
  cursor: pointer;
  font-weight: bold;
}

.transactions .button-delete:hover, .transactions .button-delete:focus {
  background-color: #e84118;
  color: #f5f6fa;
}

.card {
  margin-bottom: 1em;
  padding: 1em;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.25);
}

@media (min-width: 600px) {
  .card {
    width: calc(100% / 3.1);
  }
}

.card__title {
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #bdc3c7;
  color: #1289A7;
}

.card__result {
  width: 100%;
  padding: 0.25em;
  background-color: #fff;
  border: 1px solid #bdc3c7;
  cursor: pointer;
}

.card__result span {
  padding-left: 0.25em;
}

.card .income::before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f0aa";
}

.card .outflow::before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f0ab";
  color: #e84118;
}

.card .balance::before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f155";
}

.overlay {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: clamp(400px, 50vw, 50rem);
  padding: 2em;
  background-color: #f5f6fa;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.25);
}

.modal__title {
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #bdc3c7;
  text-align: center;
}

.modal .button-close {
  display: block;
  margin-left: auto;
  color: #bdc3c7;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.modal .button-close:hover, .modal .button-close:focus {
  color: #e84118;
}

.modal .button-close::before {
  display: inline-block;
  padding-right: 0.5em;
  font-family: "Font Awesome 5 Free";
  font-size: 2rem;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f057";
  padding: 0;
}

.form__container .row {
  width: 100%;
  margin-bottom: 1em;
}

.form__container .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__container .radio-group__container {
  width: 45%;
}

.form__container .buttons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form__container .buttons__container button {
  width: 48%;
  padding: 0.5em 1em;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.form__container .buttons__container .button-clear {
  background-color: transparent;
  color: #e84118;
  border: 1px solid #e84118;
}

.form__container .buttons__container .button-clear:hover, .form__container .buttons__container .button-clear:focus {
  color: #a32d10;
  border-color: #a32d10;
}

.form__container .buttons__container .button-save {
  background-color: #1289A7;
  color: #f5f6fa;
  border: 1px solid #1289A7;
}

.form__container .buttons__container .button-save:hover, .form__container .buttons__container .button-save:focus {
  background-color: #0b5062;
}
/*# sourceMappingURL=main.css.map */